<div class="container">
    <div class="row d-flex justify-content-center cardCenter">
        <div class="card" >
            <div class="card-header">
                Acceso
              </div>
            <div class="card-body row">
              <div class="col-md-12">
                <div class="mb-3">
                    <label for="txtcorreo" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="txtcorreo" placeholder="ingresa tu correo">
                  </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                    <label for="txtpass" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="txtpass" >
                  </div>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <a  class="mb-3">Recuperar</a>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <button (click)="Ingresa()"  mat-raised-button class="btn btn-light mb-3">Ingresar</button>
            </div>
            <div class="col-12 d-flex justify-content-center">
                
                <a class="mb-3">Nuevo Registro</a>
            </div>
            </div>
          </div>
    </div>
</div>
